@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {

    --clr-p-blue: hsl(246, 80%, 60%);
    --clr-light-red-work: hsl(15, 100%, 70%);
    --clr-p-soft-blue-play: hsl(195, 74%, 62%);
    --clr-p-light-red-study: hsl(348, 100%, 68%);
    --clr-p-lime-green-exercise: hsl(145, 58%, 55%);
    --clr-p-violet-social: hsl(264, 64%, 52%);
    --clr-p-soft-orange-selfcare: hsl(43, 84%, 65%);

    --clr-n-very-dark-blue: hsl(226, 43%, 10%);
    --clr-n-dark-blue: hsl(235, 46%, 20%);
    --clr-n-desaturated-blue: hsl(235, 45%, 61%);
    --clr-n-pale-blue: hsl(236, 100%, 87%);

    --font-family-default: "Rubik", sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 500;

    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
}

/* CSS Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

body {
    background-color: var(--clr-n-very-dark-blue);
    display: grid;
    place-content: center;
    color: white;
    font-family: var(--font-family-default);
    font-weight: var(--fw-light);
}

@media screen and (min-width: 776px) {
    body {
        height: 100vh;
    }
}

main {
    --card-border-radius: 15px;

    display: grid;
    gap: 1.5rem;
    grid-template: auto repeat(6, 1fr) / minmax(325px, auto);
    margin-top: 8vh;
    margin-bottom: 8vh;
}

@media screen and (min-width: 776px) {
    main {
        display: grid;
        gap: 1.5rem;
        grid-template: 1fr 1fr / repeat(4, minmax(200px, 1fr));
        margin: 0;
    }
}

.card {
    border-radius: var(--card-border-radius);
}

.user-control-card {
    background-color: var(--clr-n-dark-blue);
}

@media screen and (min-width: 776px) {
    .user-control-card {
        grid-row: 1 / -1;
    }
}

.user-block {
    border-radius: var(--card-border-radius);
    background-color: var(--clr-p-blue);
    display: flex;
    padding: 2rem;
    gap: 15px;
    align-items: center;
}

@media screen and (min-width: 776px) {
    .user-block {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
}

.user-block img {
    width: calc(32px * 2);
    border-radius: 50%;
    border: 3px solid white;
}

.user-block-title>p {
    color: var(--clr-n-pale-blue);
    font-size: var(--fs-200);
}

.user-block-title>h1 {
    font-size: var(--fs-500);
}

@media screen and (min-width: 776px) {
    .user-block-title>h1 {
        margin-top: 0.25rem;
        font-size: var(--fs-700);
        max-width: min-content;
        margin-bottom: 3rem;
    }
}

.control-block {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

@media screen and (min-width: 776px) {
    .control-block {
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
    }
}

.control-block>span {
    cursor: pointer;
    color: var(--clr-n-pale-blue);
}

.control-block .active {
    color: white;
}

.activity-card {
    display: grid;
    grid-template-rows: 40px 1fr;

    /* For the svg icon background */
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -15%;
}

.activity-details-block {
    grid-row: 2;
    background-color: var(--clr-n-dark-blue);
    border-radius: var(--card-border-radius);
    padding: 1.5rem 1.25rem;
}

.activity-details-block:hover {
    background-color: var(--clr-n-desaturated-blue);
}

.activity-details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-details-row h2 {
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
}

.activity-details-row img {
    cursor: pointer;
}

@media screen and (min-width: 776px) {
    .activity-details-time {
        flex-direction: column;
        align-items: flex-start;
    }
}

.placeholder {
    opacity: 0;
    animation: fade-in 1s infinite ease, fade-out 1s infinite ease;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }
}

.activity-details-time .current-time {
    font-size: var(--fs-600);
}

@media screen and (min-width: 776px) {
    .activity-details-time .current-time {
        font-size: 2.5rem;
    }
}

.activity-details-time .old-time {
    font-size: var(--fs-200);
    color: var(--clr-n-pale-blue);
}

@media screen and (min-width: 776px) {
    .activity-details-time .old-time {
        margin-top: 0.75rem;
    }
}

.activity-details-row+.activity-details-row {
    margin-top: 1rem;
}

@media screen and (min-width: 776px) {
    .activity-details-row+.activity-details-row {
        margin-top: 1.5rem;
    }
}

.work-card {
    background-color: var(--clr-light-red-work);
    background-image: url(./images/icon-work.svg);
}

.play-card {
    background-color: var(--clr-p-soft-blue-play);
    background-image: url(./images/icon-play.svg);
}

.study-card {
    background-color: var(--clr-p-light-red-study);
    background-image: url(./images/icon-study.svg);
}

.exercise-card {
    background-color: var(--clr-p-lime-green-exercise);
    background-image: url(./images/icon-exercise.svg);
}

.social-card {
    background-color: var(--clr-p-violet-social);
    background-image: url(./images/icon-social.svg);
}

.selfcare-card {
    background-color: var(--clr-p-soft-orange-selfcare);
    background-image: url(./images/icon-self-care.svg);
}